<config>
    <sections>
        <ordersexport translate="label">
            <label>Foxrate</label>
            <class>separator-top</class>
            <tab>sales</tab>
            <sort_order>10000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <foxrateOrdersExport translate="label">
                    <label>Foxrate API</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <fox_api_username translate="label">
                            <label>Foxrate API Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <backend_model>ordersexport/config_foxrateapi</backend_model>
                        </fox_api_username>
                    </fields>
                    <fields>
                        <fox_api_password translate="label">
                            <label>Foxrate API Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <backend_model>ordersexport/config_foxrateapi</backend_model>
                        </fox_api_password>
                    </fields>
                </foxrateOrdersExport>
            </groups>
        </ordersexport>
    </sections>
</config>